body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.machine-container {
    // width: 90%;
    // height: 90%;
    // max-width: 400px;
    // max-height: 700px;
    // background-color: #e0e0e0;
    // border-radius: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // padding: 20px;

    width: 100%;
    height: 90%;
    max-width: 400px;
    max-height: 700px;
    background-color: #2f2f2f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.machine-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.pokeball-slot {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pokeball {
    // width: 50px;
    // height: 50px;
    // background-color: red;
    // border-radius: 50%;
    // border: 2px solid white;
    // position: relative;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: rotate(180deg);
}

.pokeball::before,
.pokeball::after {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 50px 50px 0px 0px;
}

.pokeball::before {
    width: 100%;
    height: 50%;
    top: 0;
    border-bottom: 2px solid black;
}

.pokeball::after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
    border: 2px solid black;
    background-color: white;
}

.machine-footer {
    font-size: 18px;
    text-align: center;
}
