<ion-header>
  <ion-toolbar>
    <ion-title>Catch Them</ion-title>
    <ion-buttons slot="start"><ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-buttons slot="end"><ion-button><ion-icon name="menu-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor">

  <!-- <div class="modal" *ngIf="modal"></div> -->

  <div class="container_x">
    <div class="mypoke">
      <img class="poke-battle" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{ +pokemonBatalla.num_nation }}.png">
      <div class="circle"></div>
    </div>
    <div class="poke_salvaje">
      <img [ngClass]="pokeOculto" class="poke-wild" alt="pokeOculto" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{ +pokeSalvaje.num_nation }}.png">
      <div class="circle_wild"></div>
    </div>
    <div class="stats_wild square_corner">

      <ion-row class="info-header">
        <ion-col size="10">
          <span>{{pokeSalvaje.name | uppercase}}</span>
          <ion-icon *ngIf="pokeSalvaje.genero === 'hembra'" name="female" class="icon-gender female"></ion-icon>
          <ion-icon *ngIf="pokeSalvaje.genero === 'macho'" name="male" class="icon-gender male"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <span class="level">Lv. {{ pokeSalvaje.level }}</span>
        </ion-col>
      </ion-row>
      <div class="progress square_corner_simple">
        <!-- <div class="progress-bar bg-success" role="progressbar" [ngStyle]="barraHP_wild" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{pokeSalvaje.hp}} / {{pokeSalvaje.hp_max}}</div>
         <span>{{ pokeSalvaje.hp }}<span class="hp_separe"> / </span>{{ pokeSalvaje.hp_max }}</span></div> -->
        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="calculateHpPercentage(pokeSalvaje)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ pokeSalvaje.hp }} / {{ pokeSalvaje.hp_max }}</div>
      </div>

    </div>

    <div class="my_stats">
      <div class="square_corner">
        <ion-row class="info-header">
          <ion-col size="10">
            <span>{{pokemonBatalla.name | uppercase}}</span>
            <ion-icon *ngIf="pokemonBatalla.genero === 'hembra'" name="female" class="icon-gender female"></ion-icon>
            <ion-icon *ngIf="pokemonBatalla.genero === 'macho'" name="male" class="icon-gender male"></ion-icon>
          </ion-col>
          <ion-col size="2">
            <span class="level">Lv. {{ pokemonBatalla.level }}</span>
          </ion-col>
        </ion-row>
      </div>

      <ion-row class="box_progressbar">
        <ion-row>
          <ion-col size="5" class="1 flex">
            <span style="width: 35%;">PS </span><ion-badge> {{ pokemonBatalla.hp }} / {{ pokemonBatalla.hp_max }}</ion-badge>
          </ion-col>
          <ion-col size="7">
            <div class="progress square_corner_simple">
              <!-- <div class="progress-bar bg-success" role="progressbar" [ngStyle]="barraHP_battle" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
              <div class="progress-bar bg-success" role="progressbar" [style.width.%]="calculateHpPercentage(pokemonBatalla)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="5" class="2 flex">
            <span style="width: 35%;">EXP </span><ion-badge> {{ pokemonBatalla.exp }} / {{ exp_max }}</ion-badge>
          </ion-col>
          <ion-col size="7">
            <!-- <div class="progress square_corner_simple">
              <div class="progress-bar bg-info" role="progressbar" [ngStyle]="barraExp" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
            <div class="progress square_corner_simple">
              <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{ width: (pokemonBatalla.exp! / exp_max) * 100 + '%' }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
    </div>

    <div class="battle_icons"></div>
    <div class="dont_know"></div>
  </div>

  <!-- Iconos de Acción -->
  <ion-row class="iconos">
    <ion-col size="3" (click)="atacar()">
      <div class="icon">
        <img alt="atacar" src="../../../assets/images/iconos/espada.png">
      </div>
    </ion-col>
    <ion-col size="3" (click)="mostrarPokeballs()">
      <div class="icon">
        <img alt="mochila" src="../../../assets/images/iconos/mochila.png">
      </div>
    </ion-col>
    <ion-col size="3" (click)="mostrarPokeballs()">
      <div class="icon">
        <img alt="huir" src="../../../assets/images/iconos/ball.png">
      </div>
    </ion-col>
    <ion-col size="3" (click)="huir()">
      <div class="icon">
        <img alt="huir" src="../../../assets/images/iconos/huir.png">
      </div>
    </ion-col>
  </ion-row>

  <!-- Equipo -->
  <ion-row class="equipo-batalla" [ngStyle]='ocultarEquipo'>
    <ion-col size="4" *ngFor='let pokemon of poke_team' (click)="voltear()">
      <div class="cardPokemon" (click)="cambiar_pokemon(pokemon)">
        <!-- <div class="tarjeta">
          <ion-row class="tarjeta-front"> -->
            <div *ngIf="pokemon" class="progress square_corner_simple">
              <div class="progress-bar bg-success" role="progressbar" [style.width.%]="calculateHpPercentage(pokemon)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ pokemon.hp }} / {{ pokemon.hp_max }}</div>
            </div>
            <img *ngIf="pokemon" alt="{{ pokemon.num_nation }}" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{ +pokemon.num_nation }}.png" class="pokemon-img">
            <ion-icon *ngIf="!pokemon" name="add-outline" class="add-icon"></ion-icon>
          <!-- </ion-row> -->
          <!-- <ion-row class="tarjeta-back">
            <ion-row>
              <ion-col size="6">attack:</ion-col>
              <ion-col size="6" class="text-right">{{ pokemon.attack }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">defense:</ion-col>
              <ion-col size="6" class="text-right">{{ pokemon.defense }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Atq esp:</ion-col>
              <ion-col size="6" class="text-right">{{ pokemon.special_attack }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">Def esp:</ion-col>
              <ion-col size="6" class="text-right">{{ pokemon.special_defense }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">speed:</ion-col>
              <ion-col size="6" class="text-right">{{ pokemon.speed }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">state:</ion-col>
              <ion-col size="6" class="text-right">{{ pokemon.state }}</ion-col>
            </ion-row>
          </ion-row> -->
        <!-- </div> -->
      </div>
    </ion-col>
  </ion-row>

  <!-- Mochila -->
  <ion-row class="mochila" [ngStyle]='ocultarBalls'>
    <ion-col size="4" class="cardBall">
      <div class="tarjeta2">
        <a class="badge_ball" href="/captura/{{pokeSalvaje.num_nation}}#pokeball">
          <img alt="pokeball" src="../../../assets/images/item_pokemon/pokeball.png" class="balle center" (click)="capturarPokemon('poke')">
          <ion-badge fixed slot="end" class="medalla">{{ repo.getMaster().pokeBalls }}</ion-badge>
        </a>
      </div>
    </ion-col>
    <ion-col size="4" class="cardBall">
      <div class="tarjeta2">
        <a class="badge_ball" href="/captura/{{pokeSalvaje.num_nation}}#superball">
          <img alt="superball" src="../../../assets/images/item_pokemon/superball.png" class="balle center" (click)="capturarPokemon('super')">
          <ion-badge fixed slot="end" class="medalla">{{ repo.getMaster().superBalls }}</ion-badge>
        </a>
      </div>
    </ion-col>
    <ion-col size="4" class="cardBall">
      <div class="tarjeta2">
        <a class="badge_ball" href="/captura/{{pokeSalvaje.num_nation}}#ultraball">
          <img alt="ultraball" src="../../../assets/images/item_pokemon/ultraball.png" class="balle center" (click)="capturarPokemon('ultra')">
          <ion-badge fixed slot="end" class="medalla">{{ repo.getMaster().ultraBalls }}</ion-badge>
        </a>
      </div>
    </ion-col>
    <ion-col size="4" class="cardBall">
      <div class="tarjeta2">
        <a class="badge_ball" href="/captura/{{pokeSalvaje.num_nation}}#masterball">
          <img alt="masterball" src="../../../assets/images/item_pokemon/masterball.png" class="balle center" (click)="capturarPokemon('master')">
          <ion-badge fixed slot="end" class="medalla">{{ repo.getMaster().masterBalls }}</ion-badge>
        </a>
      </div>
    </ion-col>
  </ion-row>

  <div id="pokeballee" class="pokeballee">
    <img class="pok_ball" [src]="imagenUrl" alt="">

    <div id="catch1" class="catch1"></div>

    <svg id="star1" class="star star1"data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.95 50.35"><defs><style>.cls-1{fill:#e8e73c;}</style></defs><title>star</title><polygon class="cls-1" points="26.47 0 32.72 19.23 52.95 19.23 36.58 31.12 42.83 50.35 26.47 38.47 10.11 50.35 16.36 31.12 0 19.23 20.22 19.23 26.47 0"/></svg>
    <svg id="star2" class="star star2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.95 50.35"><defs><style>.cls-1{fill:#e8e73c;}</style></defs><title>star</title><polygon class="cls-1" points="26.47 0 32.72 19.23 52.95 19.23 36.58 31.12 42.83 50.35 26.47 38.47 10.11 50.35 16.36 31.12 0 19.23 20.22 19.23 26.47 0"/></svg>
    <svg id="star3" class="star star3" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.95 50.35"><defs><style>.cls-1{fill:#e8e73c;}</style></defs><title>star</title><polygon class="cls-1" points="26.47 0 32.72 19.23 52.95 19.23 36.58 31.12 42.83 50.35 26.47 38.47 10.11 50.35 16.36 31.12 0 19.23 20.22 19.23 26.47 0"/></svg>
  </div>

</ion-content>