<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)='goPokedex()'>
      <ion-icon src="../../../../assets/images/svg/svg_pokedex.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="avatar" href="/home">
      <ion-icon src="../../../../assets/images/svg/svg_home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/main/tab3">
      <ion-icon src="../../../../assets/images/svg/svg_poke_center.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
