<ion-header>
  <ion-toolbar>
    <ion-title>Region {{ region }}</ion-title>
    <ion-buttons slot="start"><ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-buttons slot="end"><ion-button><ion-icon name="menu-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-content> -->
  <!-- <div id="wrapper" class="wrapper"> -->
  <!-- <div class="machine-container"> -->
    <div id="pokedex" class='pokeball' >
      <button id="toggle-button"></button>
      <div class="row">
        <div class="col-12">
          <div class='pokemon tipo{{pokemon.tipo_uno | uppercase}}' >
            <!-- <img src="../../../assets/images/pokemons/{{pokemon.num_nation}}.png" alt="" /> -->
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{ +num_nation }}.png" alt="" />
            <div class="tags">
              <span class='tipo{{ pokemon.tipo_uno | uppercase }}'>{{ pokemon.tipo_uno | uppercase }}</span>
              <span class='tipo{{ pokemon.tipo_dos | uppercase }}'>{{ pokemon.tipo_dos | uppercase }}</span>
              <!-- <span class='tipo{{ habitat | uppercase }}'>{{ habitat | uppercase }}</span> -->
            </div>

            <ion-fab vertical='bottom' horizontal='end' id='fab1'>
              <ion-fab-button (click)='mostrarInfoPokemon()' color='light'>
                <ion-icon name='paw-outline' role='img' alt="" color="dark"></ion-icon>
              </ion-fab-button>
            </ion-fab>

            <ion-fab vertical='bottom' horizontal='start' id='fab2'>
              <ion-fab-button (click)='capturar(pokemon.num_nation, pokemon.num_evo)' color='light'>
                <ion-icon name='icon-ball' role='img' alt="" color="dark"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>
        </div>

        <div class="col-12 background-down">
          <article *ngIf="info">
            <h1><span class="poke-name">{{ pokemon.name }}</span><span class="poke-num">#{{ pokemon.num_nation }}</span></h1>
            <div class="species">{{ this.pokemon.specie }}</div>
            <p>{{ this.pokemon.descripcion }}</p>
            <!-- <ul>
              <li>
                <label><span>HP</span><span>{{ pokemon.hp }}</span></label>
                <meter min="1" low="20" high="100" optimum="150" max="255" value="{{ pokemon.hp }}"></meter>
              </li>
              <li>
                <label><span>Speed</span><span>{{ pokemon.speed }}</span></label>
                <meter min="1" low="20" high="100" optimum="150" max="200" value="{{ pokemon.speed }}"></meter>
              </li>
              <li>
                <label><span>Attack</span><span>{{ pokemon.attack }}</span></label>
                <meter min="1" low="20" high="100" optimum="150" max="195" value="{{ pokemon.attack }}"></meter>
              </li>
              <li>
                <label><span>Defense</span><span>{{ pokemon.defense }}</span></label>
                <meter min="1" low="20" high="100" optimum="150" max="255" value="{{ pokemon.defense }}"></meter>
              </li>
              <li>
                <label><span>Sp. Atk</span><span>{{ pokemon.special_attack }}</span></label>
                <meter min="1" low="20" high="100" optimum="150" max="195" value="{{ pokemon.special_attack }}"></meter>
              </li>
              <li>
                <label><span>Sp. Def:</span><span>{{ pokemon.special_defense }}</span></label>
                <meter min="1" low="20" high="100" optimum="150" max="250" value="{{ pokemon.special_defense }}"></meter>
              </li>
            </ul> -->
            <ion-row *ngFor="let stat of poke_stats">
              <ion-col size="6">
                <span>{{ stat.label }}</span>
              </ion-col>
              <ion-col size="2">
                <span>{{ stat.value }}</span>
              </ion-col>
              <ion-col size="4">
                <meter [min]="stat.min" [low]="stat.low" [high]="stat.high" [optimum]="stat.optimum" [max]="stat.max" [value]="stat.value"></meter>
              </ion-col>
            </ion-row>
          </article>

          <article *ngIf="!info">
            <!-- <div class='tarjeta'>
              <img alt='{{ extractIdFromUrl(evol_subdata.species_url) }}' src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{ extractIdFromUrl(evol_subdata.species_url) }}.png' class='pokemon-img'>

              <ion-icon *ngIf="!evol_subdata" name="add-outline" class="add-icon"></ion-icon>
            </div> -->

            <!-- Bloque Dos Parte 1 -->
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <div class="col-3">
                    <div class="row">
                      <div class="col block-evo-cond" *ngFor="let pokemon of evol_data.evolves_to;" >
                        <div *ngFor="let pokemon_cond of pokemon.evolution_details;" style="display: grid; font-size: 12px;" >
                          <span *ngIf="pokemon_cond.held_item" >{{ pokemon_cond.held_item }}</span>
                          <span *ngIf="pokemon_cond.item" >{{ pokemon_cond.item }}</span>
                          <span *ngIf="pokemon_cond.known_move_type" >Type - {{ pokemon_cond.known_move_type }}</span>
                          <span *ngIf="pokemon_cond.location" >location: {{ pokemon_cond.location }}</span>
                          <span *ngIf="pokemon_cond.min_happiness" >Happy - {{ pokemon_cond.min_happiness }}</span>
                          <span *ngIf="pokemon_cond.min_level" >Lv - {{ pokemon_cond.min_level }}</span>
                          <span *ngIf="pokemon_cond.time_of_day" >Time - {{ pokemon_cond.time_of_day }}</span>
                          <span>{{ pokemon_cond.trigger }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="row">
                      <div class="col relative" *ngFor="let pokemon of evol_data.evolves_to;" >
                        <img alt='{{ extractIdFromUrl(pokemon.species_url) }}' src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{ extractIdFromUrl(pokemon.species_url) }}.png' class='pokemon-img' />
                        <span class='text-poke'>{{ pokemon.species_name }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="row" *ngIf="evol_subdata.evolves_to" >
                      <div class="col block-evo-cond" *ngFor="let pokemon of evol_subdata.evolves_to;" >
                        <div *ngFor="let pokemon_cond of pokemon.evolution_details;" style="display: grid; font-size: 12px;" >
                          <span *ngIf="pokemon_cond.held_item" >{{ pokemon_cond.held_item }}</span>
                          <span *ngIf="pokemon_cond.item" >{{ pokemon_cond.item }}</span>
                          <span *ngIf="pokemon_cond.known_move_type" >Type - {{ pokemon_cond.known_move_type }}</span>
                          <span *ngIf="pokemon_cond.location" >location: {{ pokemon_cond.location }}</span>
                          <span *ngIf="pokemon_cond.min_happiness" >Happy - {{ pokemon_cond.min_happiness }}</span>
                          <span *ngIf="pokemon_cond.min_level" >Lv - {{ pokemon_cond.min_level }}</span>
                          <span *ngIf="pokemon_cond.time_of_day" >Time - {{ pokemon_cond.time_of_day }}</span>
                          <span>{{ pokemon_cond.trigger }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="row" *ngIf="evol_subdata.evolves_to" >
                      <div class="col relative" *ngFor="let pokemon of evol_subdata.evolves_to;" >
                        <img alt='{{ extractIdFromUrl(pokemon.species_url) }}' src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{ extractIdFromUrl(pokemon.species_url) }}.png' class='pokemon-img' />
                        <span class='text-poke'>{{ pokemon.species_name }}</span>
                      </div>
                    </div>
                  </div>
                </ion-row>
              </ion-col>
            </ion-row>
            <!-- Bloque Dos Fin Parte 1 -->
          </article>

        </div>

        <div class="fondo"></div>
      </div>
    </div>

  <!-- </div> -->

<!-- </ion-content> -->