// .pokeball-content {
//     background-color: #0a0a0a; /* Fondo oscuro */
//     padding: 10px;
// }

// .team-container {
//     background-color: var(--background-two);
//     padding: 5px;
//     border-radius: 5px;
//     margin: 5px;
// }
.team-container {
    background-color: var(--background-two);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

// .pokemon-slot {
//     background-color: var(--background-thr);
//     padding: 10px;
//     border-radius: 5px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     position: relative;
// }

// .pokemon-slot {
//     background-color: var(--background-thr);
//     padding: 10px;
//     border-radius: 5px;
//     position: relative;
//     height: 95px;
// }

.pokemon-slot {
    position: relative;
    display: flex;
    flex: unset !important;
    flex-direction: column;
    background-color: var(--background-thr);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 95px;
    width: calc(4 / var(--ion-grid-columns, 12)* 100% - 10px) !important;
    max-width: unset !important;
    overflow: hidden;
}

.pokemon-slot.selected {
    // border: 2px solid yellow; /* Indicador de selección */
    animation: pulse 1.5s infinite;
    background-color: var(--background-cer);
}

.pokemon-catch-slot {
    position: relative;
    display: flex;
    flex: unset !important;
    flex-direction: column;
    background-color: var(--background-thr);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 95px;
    width: calc(3 / var(--ion-grid-columns, 12)* 100% - 10px) !important;
    max-width: unset !important;
    overflow: hidden;
}

.pokemon-catch-slot.selected {
    // border: 2px solid yellow; /* Indicador de selección */
    animation: pulse 1.5s infinite;
    background-color: var(--background-cer);
}

.pokemon-card img, .row img {
    position: absolute;
    display: grid;
    height: 9vh;
    top: 0;
    left: 0px;
    margin: 0;
    padding: 0;
    width: unset !important;
    max-width: unset !important;
}

// .pokemon-card p {
//     color: #ffffff;
//     font-size: 14px;
// }

.pokemon-card span, .row span {
    position: absolute;
    font-size: small;
    letter-spacing: 1px;
    bottom: 3px;
    left: 10px;
    margin: 0;
    padding: 0;
}

.add-icon {
    font-size: 24px;
    color: #ffffff;
}

.item-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}

.item-badge img {
    width: 100%;
    height: 100%;
}

// .team-actions {
//     margin-top: 20px;
//     display: flex;
//     justify-content: space-around;
// }

div > ion-button {
    background-color: var(--background-cer);
    border-radius: 5px;
    box-shadow: 3px 3px var(--background-fou);
}

// .captured-container {
//     background-color: #0a0a0a;
//     padding: 10px;
//     border-radius: 15px;
// }

.captured-container {
    background-color: var(--background-two);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.pulsating {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}









.item-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

// .pokemon-catch-slot {
//     background-color: #1c3b5a;
//     padding: 10px;
//     border-radius: 10px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     max-width: unset !important;
//     width: 30% !important;
//     margin: 5px;
//     flex: unset !important;
// }

ion-grid {
    padding: 0;
    margin: 0;
}
