* {
    font-family: Verdana;
    font-weight: bold;
    color: white;
}

#header {
    margin: auto;
    width: inherit;
    height: 100vw;
}

ion-content {
    background-color: #1b1f22;
}

#virtualScroll {
    margin: auto;
    // height: 100%;
    width: 100%;
}

.cardPokemon {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    margin-bottom: 10px;
    border: 1px solid gold;
}

.pokeimagen {
    width: 110px;
    margin-bottom: 5px;
}

.pokename > * {
    font-size: 18px;
    margin-bottom: 5px;
}

.pokeiconos,
.pokeiconos>* {
    width: 20px;
    max-width: unset;
}

.centrar {
    margin: auto;
    text-align: center;
}

.dblock {
    display: block;
}

.elementos {
    margin-top: 5px;
    margin-bottom: 10px;
}

.elementos > * {
    font-size: 11px;
}

.iconos {
    margin-top: 10px;
    margin-bottom: 5px;
}

.pokeball {
    background-image: url('../../../../assets/images/item_pokemon/pokeball.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
}

.superball {
    background-image: url('../../../../assets/images/item_pokemon/superball.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
}

.ultraball {
    background-image: url('../../../../assets/images/item_pokemon/ultraball.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
}

.masterball {
    background-image: url('../../../../assets/images/item_pokemon/masterball.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
}