/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.proximamente {
    display: grid;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 20px;
    border: 1px solid gold;
    text-align: center;
    margin-top: auto !important;
    font-family: Verdana !important;
    font-weight: bold !important;
    font-size: 30px !important;
    width: 90%;
    color: white;
}

/**
* Barcode Scanning
* -------------------------------------------
*/
body.barcode-scanning-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}

.barcode-scanning-modal {
    visibility: visible;
}

@media (prefers-color-scheme: dark) {
    .barcode-scanning-modal {
        --background: transparent;
        --ion-background-color: transparent;
    }
}

// ########################################################
// ############ Diseño General ############################
// ########################################################
* {
    font-family: Verdana;
    font-weight: bold;
    --background: unset;
}

body {
    display: flex !important;
}

body.swal2-height-auto {
    display: contents !important;
}

ion-header {
    max-height: 5vh;
}

#header {
    margin: auto !important;
    width: inherit;
}

ion-toolbar {
    align-items: center;
    background-color: #1b1f22;
    display: flex;
    height: 5vh;
}

.contenedor {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

// Pantalla battalla pegada arriba
.contenido {
    position: absolute;
}

.wrapper {
    background-color: #1b1f22;
    min-height: 95vh !important;
}

.menu-home {
    --width: calc(100vw - 45%);
}

.swal2-container {
    position: relative !important;
}

.absoluto50 {
    position: absolute;
    left: 50%;
    top: 0%;
}

// ########################################################
// ########## Barra de Navegacion // Toolbar ##############
// ########################################################

ion-toolbar > * {
    color: gold;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: verdana;
}

ion-buttons > * {
    box-shadow: none !important;
    border: 1px solid gold !important;
    border-radius: 100px !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 20px !important;
    height: 45px !important;
    min-width: 0px !important;
    min-height: 0px !important;
    font-weight: bold !important;
    width: 45px !important;
}

// ########################################################
// ########## Barra de Ventanas // Tap Bar ##############
// ########################################################

ion-tab-button > * {
    color: gold !important;
}

ion-tabs {
    background-color: #1b1f22 !important;
}

ion-tab-bar {
    background-color: #1b1f22 !important;
    border: 1px solid gold;
    border-radius: 10px;
    margin: 1px;
}

// ########################################################
// ########## Menu Lateral // sidebar menu ################
// ########################################################

ion-menu > * > * > ion-item {
    color: white !important;
}

// ########################################################
// ##########  Formularios Reactivos iniciales ############
// ########################################################

ion-title {
    // color: black;
    font-weight: bold;
    font-size: x-large;
}

ion-list {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}

ion-item {
    font-size: x-large;
    display: grid;
    justify-content: center;
}

input {
    color: gold !important;
    text-align: center;
}

ion-select {
    border-radius: 5px !important;
    border: 1px solid white;
    color: gold !important;
}

.alert-wrapper {
    width: 100% !important;
}

.alert-button {
    width: 45% !important;
    color: black !important;
}

// body {
//     display: grid !important;
//     margin: 0px !important;
//     padding: 0px !important;
//     width: 100vw !important;
// }

// #wrapper {
//     justify-content: center;
//     vertical-align: middle;
// }

// .wrapper {
//     background-color: #1b1f22;
// }

// ion-app {
//     width: 100vw !important;
// }

// app-root {
//     display: contents;
// }

// .contenido {
//     position: absolute;
//     top: 0;
// }

// ############ Boton volver atrás #######################
// ########################################################

// #swal2-content {
//     color: gray;
// }

// .borderStyle1 {
//     border: solid 1px gray;
//     border-radius: 5px;
// }

// ########################################################
// ############ Diseño CSS Elegante #######################
// ########################################################

.flex {
    display: flex !important;
    margin-bottom: 5px;
}

.prueba {
    margin-bottom: 5px !important;
}

.color1 {
    background-color: #1e8cdfb0 !important;
}

.toast-wrapper, .toast-content, .toast-container {
    background-color: #1b1f22 !important;
    border-radius: 10px !important;
    border: 1px solid gold !important;
    color: gold !important;
    --background-color: unset !important;
    --color: unset !important;
}

// .content {
//     height: 100%;
//     justify-content: center;
//     display: flex;
// }

// ion-loading > * {
//     background-color: #1b1f22 !important;
//     border: 1px solid gold !important;
//     border-radius: 10px !important;
//     color: red !important;
// }

// input {
//     text-align: center;
// }

// .select-text {
//     text-transform: capitalize;
// }

// .marginauto {
//     margin: auto;
// }

// .icon {
//     width: 50px;
//     position: relative;
//     bottom: 2px;
// }

// .borde {
//     border: 1px solid white !important;
//     border-radius: 5px;
// }

// .center {
//     text-align: center;
//     justify-content: center;
// }

// .letra8 * {
//     font-size: 8px;
// }

// .letra14 * {
//     font-size: 14px;
//     margin: 2px 0px !important;
// }

// .zonaIconos {
//     background: #000000;
//     height: 34px;
// }

// .zonaIconoBall {
//     border-radius: 10px 0px 0px 0px;
//     padding: 2px 0px 0px 6px !important;
// }

// .zonaIconoFav {
//     border-radius: 0px 10px 0px 0px;
//     padding: 2px 6px 0px 0px !important;
// }

// .width100 {
//     width: 100%;
// }

// .height100 {
//     height: 100%;
// }

// .flex {
//     display: flex;
// }

// .ball {
//     background-repeat: no-repeat !important;
//     background-position: center !important;
//     background-size: contain !important;
// }


// .color1 {
//     background-color: rgba(18, 18, 50, 0.6);
// }

// .color2 {
//     background-color: rgb(19, 39, 82);
// }

// .row {
//     margin-right: unset !important;
//     margin-left: unset !important;
// }

// .nopadin {
//     padding: unset;
// }

// .espacio {
//     white-space: pre;
// }

// .inline-flex {
//     display: inline-flex;
// }

// .width90 {
//     width: 90%;
// }

// .borde10 {
//     border-radius: 10px;
// }

// .padin10 {
//     padding: 10px;
// }

// .margenfondo10 {
//     margin-bottom: 10px;
// }

// .margenfondo_10 {
//     margin-bottom: -10px;
// }

// .margen5 {
//     margin: 5px;
// }


// .pokemon {
//     height: 150px !important;
// }

// ########################################################
// ######## Lector QR con ocultar app #####################
// ########################################################
#cordova-plugin-qrscanner-video-preview {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid gold !important;
    border-radius: 10px !important;
    min-height: 80% !important;
    height: 70% !important;
    top: 45% !important;
    position: absolute !important;
    width: 95% !important;
    min-width: 90% !important;
    z-index: 800 !important;
}

#cordova-plugin-qrscanner-still {
    background-color: black !important;
    visibility: visible !important;
}

.cerrarQrScanner {
    position: absolute !important;
    bottom: 20px !important;
    background-color: #1b1f22 !important;
    border: 1px solid gold !important;
    border-radius: 10px !important;
    width: 90%;
    margin: 0 5% !important;
}

app-root.has-camera,
app-root.has-camera ion-content {
    display: none;
    --background: transparent;
    background: transparent !important;
}

.generadoQr, .generadoQr > * {
    width: 100% !important;
    height: 100% !important;
    padding: 10px;
}

// ########################################################
// ############ Diseño Input Camara #######################
// ########################################################
.cordova-camera-select {
    background-color: #1b1f22 !important;
    border: 1px solid gold;
    border-radius: 20px;
    padding: 20px;
    margin: auto !important;
    z-index: 100 !important;
    overflow: visible;
}

.cordova-camera-capture {
    background-color: #1b1f22 !important;
    border: 3px solid gold;
    border-radius: 20px;
    padding: 20px;
    margin: auto !important;
    z-index: 100 !important;
    overflow: visible;
    color: white;
}

.cordova-camera-capture>button {
    border-radius: 25px;
    margin-top: 10px;
    display: grid;
    height: 100%;
    width: 100%;
    padding: 5px;
}

// Texto para elegir
.action-sheet-container > * > * > * {
    color:
        #757575 !important;
}

// ########################################################
// ############ Diseño Pokemon y Pokeball #################
// ########################################################

.capturadoPokeBall {
    background: round;
    background-image: url(./assets/images/item_pokemon/pokeball.png);
    height: 120px;
}

.capturadoSuperBall {
    background: round;
    background-image: url(./assets/images/item_pokemon/superball.png);
    height: 120px;
}

.capturadoUltraBall {
    background: round;
    background-image: url(./assets/images/item_pokemon/ultraball.png);
    height: 120px;
}

.capturadoMasterBall {
    background: round;
    background-image: url(./assets/images/item_pokemon/masterball.png);
    height: 120px;
}


.tipo {
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 5px;
    text-align: center;
    font-size: 9px;
    margin-bottom: 5px !important;
}

.tipoVACIO {
    visibility: hidden;
    color: #000000;
    background: #000000;
    background: linear-gradient(to bottom, #000000 0%, #000000 100%);
    background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
}

.tipoACERO {
    background: #b4b8bb;
    background: linear-gradient(to bottom, #b4b8bb 0%, #2d2c2c 100%);
    background: -moz-linear-gradient(top, #b4b8bb 0%, #2d2c2c 100%);
    background: -webkit-linear-gradient(top, #b4b8bb 0%, #2d2c2c 100%);
}

.tipoAGUA {
    background: #169cd9;
    background: linear-gradient(to bottom, #3ca0ff 0%, #0a1e28 100%);
    background: -moz-linear-gradient(top, #3ca0ff 0%, #0a1e28 100%);
    background: -webkit-linear-gradient(top, #3ca0ff 0%, #0a1e28 100%);
}

.tipoBICHO {
    background: #a2bc03;
    background: linear-gradient(to bottom, #a2bc03 0%, #363e06 100%);
    background: -moz-linear-gradient(top, #a2bc03 0%, #363e06 100%);
    background: -webkit-linear-gradient(top, #a2bc03 0%, #363e06 100%);
}

.tipoDRAGON {
    background: #f59502;
    background: linear-gradient(to bottom, #ff9a00 0%, #4a2d00 100%);
    background: -moz-linear-gradient(top, #ff9a00 0%, #4a2d00 100%);
    background: -webkit-linear-gradient(top, #ff9a00 0%, #4a2d00 100%);
}

.tipoELECTRICO {
    background: #d2d000;
    background: linear-gradient(to bottom, #d2d000 0%, #3c3b00 100%);
    background: -moz-linear-gradient(top, #d2d000 0%, #3c3b00 100%);
    background: -webkit-linear-gradient(top, #d2d000 0%, #3c3b00 100%);
}

.tipoFANTASMA {
    background: #6668b3;
    background: linear-gradient(to bottom, #6668b3 0%, #25264a 100%);
    background: -moz-linear-gradient(top, #6668b3 0%, #25264a 100%);
    background: -webkit-linear-gradient(top, #6668b3 0%, #25264a 100%);
}

.tipoFUEGO {
    background: #ff0101;
    background: linear-gradient(to bottom, #ff0101 0%, #580000 100%);
    background: -moz-linear-gradient(toP, #ff0101 0%, #580000 100%);
    background: -webkit-linear-gradient(top, #ff0101 0%, #580000 100%);
}

.tipoHADA {
    background: #d696d3;
    background: linear-gradient(to bottom, #d696d3 0%, #4e324d 100%);
    background: -moz-linear-gradient(top, #d696d3 0%, #4e324d 100%);
    background: -webkit-linear-gradient(top, #d696d3 0%, #4e324d 100%);
}

.tipoHIELO {
    background: #b3d7ef;
    background: linear-gradient(to bottom, #b3d7ef 0%, #162b3a 100%);
    background: -moz-linear-gradient(top, #b3d7ef 0%, #162b3a 100%);
    background: -webkit-linear-gradient(top, #b3d7ef 0%, #162b3a 100%);
}

.tipoLUCHA {
    background: #d5543f;
    background: linear-gradient(to bottom, #d5543f 0%, #482721 100%);
    background: -moz-linear-gradient(top, #d5543f 0%, #482721 100%);
    background: -webkit-linear-gradient(top, #d5543f 0%, #482721 100%);
}

.tipoNORMAL {
    background: #be9661;
    background: linear-gradient(to bottom, #ad7730 0%, #2b1911 100%);
    background: -moz-linear-gradient(top, #ad7730 0%, #2b1911 100%);
    background: -webkit-linear-gradient(top, #ad7730 0%, #2b1911 100%);
}

.tipoPLANTA {
    background: #02c143;
    background: linear-gradient(to bottom, #02c143 0%, #0c3a01 100%);
    background: -moz-linear-gradient(top, #02c143 0%, #0c3a01 100%);
    background: -webkit-linear-gradient(top, #02c143 0%, #0c3a01 100%);
}

.tipoPSIQUICO {
    background: #f647a2;
    background: linear-gradient(to bottom, #f647a2 0%, #440f2a 100%);
    background: -moz-linear-gradient(top, #f647a2 0%, #440f2a 100%);
    background: -webkit-linear-gradient(top, #f647a2 0%, #440f2a 100%);
}

.tipoROCA {
    background: #696969;
    background: linear-gradient(to bottom, #696969 0%, #353333 100%);
    background: -moz-linear-gradient(top, #696969 0%, #353333 100%);
    background: -webkit-linear-gradient(top, #696969 0%, #353333 100%);
}

.tipoSINIESTRO {
    background: #7f523b;
    background: linear-gradient(to bottom, #10cc50 0%, #105000 100%);
    background: -webkit-linear-gradient(top, #10cc50 0%, #105000 100%);
}

.tipoTIERRA {
    background: #b18728;
    background: linear-gradient(to bottom, #b18728 0%, #2f2100 100%);
    background: -moz-linear-gradient(top, #b18728 0%, #2f2100 100%);
    background: -webkit-linear-gradient(top, #b18728 0%, #2f2100 100%);
}

.tipoVENENO {
    background: #664498;
    background: linear-gradient(to bottom, #664498 0%, #300070 100%);
    background: -moz-linear-gradient(top, #7030ff 0%, #300070 100%);
    background: -webkit-linear-gradient(top, #7030ff 0%, #300070 100%);
}

.tipoVOLADOR {
    background: #92adbf;
    background: linear-gradient(to bottom, #92adbf 0%, #1d7f9a 100%);
    background: -moz-linear-gradient(top, #92adbf 0%, #1d7f9a 100%);
    background: -webkit-linear-gradient(top, #92adbf 0%, #1d7f9a 100%);
}

// Acero		acaebb
// Agua		169cd9
// Bicho		a2bc03
// Dragon		f59502
// Electrico	fffd00
// Fantasma	6668b3
// Fuego		ff0101
// Hada		fca7f8
// Hielo		00e0f2	b3d7ef
// Lucha		d5543f
// Normal		b9baaa
// Planta		00b346
// Psiquico	f647a2
// Roca		c0ad61	878787
// Siniestro	7f523b
// Tierra		e8b94d
// Veneno		db0bc3 c354a0 664498
// Volador		b8d8ed



body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
  }
  
  ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: teal;
    transition: 0.5s;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
  }
  
  ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
  }
  
  ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
  }
  
  ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
  }
  
  ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
  }
  
  ul li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: 0.2;
  }
 